@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
  }
  
body {
   background-color: #E0E1DD;
}

#logoFont {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #778DA9;
}

#textFont{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.animate__animated.animate__zoomIn{
    --animate-duration: 0.1s;
}



/* 
dark blue: #0D1B2A
medium blue: #1B263B
medium light blue: #415A77
light blue: #778DA9
grey: #E0E1DD
*/